<%-include("partials/header") %>

    <div class="contact">
        <form action="/contact" method="post">
            <div class="email">
                <label for="email">Email</label>
                <span>*</span>
                <input type="text" id="email" name="email"/>
            </div>
            <div class="email">
                <label for="title">Title</label>
                <span>*</span>
                <input type="text" id="title" name="title"/>
            </div>
            <div class="description">
                <label for="email">Description</label>
                <span>*</span>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

<%-include("partials/footer") %>