<%- include("partials/header") %>

    <div class="welcome">
        <img src="images/IMG_4535.jpg" alt="welcome-img">
        <div class="welcome-text">
            <h2>Bienvenue sur Correcteur</h2>
            <p>| Le Blog de la Faculte des Sciences</p>
        </div>
    </div>

<%- include("partials/footer") %>